@import "src/assets/styles/colors";

.login-view {
  .login-form {
    width: 35%;
    border-radius: 5px;
    background: var(--bgThemeColor2);
    box-shadow: var(--boxShadowColor) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  }
}