$blue700: #1a1a40;
$blue600: #2c2c66;
$black: #000;
$grey100: #fdfcfc;
$grey200: #f5f1f1;
$purple100: #7a0bc0;
$purple200: #650c9d;
$red: #E63946;
$blueLight: #F1FAEE;
$blueMedium: #A8DADC;
$blueDark: #457B9D;
$blueDark2: #1D3557;